
body,html{
	height: 100%;
}

hr{
	height: 3px;
	color: black;
}
.appcontentview{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	top: 2px;
	bottom: 10px;
	border: 2px solid black;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5px;
}
.dashboard{
	width: 80%;
	height: 70%;
	border: 1px solid blue;
	float: left;
}
.componentsContainer{
	width: 100%;
	height: 30%;
	border: 1px solid yellow;
	float: left;
	overflow-y:scroll;
}
.layoutsContainer{
	padding-left: 5px;
	float: left;
	width: 20%;
	height: 70%;
	border: 1px solid green;
}

.basetile{
  /*float:left;*/
  width:100px;
  height:100px;
  border:1px solid black;
  border-radius:5px;
  box-shadow:5px 5px 3px grey;
  padding:2px;
  /*margin:5px;*/
}

.thumbnail{
  float:left;
  width:50%;
  height:35%;
  border:1px solid black;

}
.listarea{
  float:left;
  width:50%;
  height:35%;
  border:1px solid black;

}
.description{
  /*margin-top:5px;*/
  float:left;
  border:1px solid black;
  width:100%;
  height:40%;
}




