<div class="dashboard">

</div>

<div class="layoutsContainer">
	<h3> Layouts </h3>
	<input type="radio" name="layout" value="flow"> FlowLayout<br>

	<input type="radio" name="layout" value="vertical"> VerticalLayout<br>

	<input type="radio" name="layout" value="horizontal"> HorizontalLayout<br>

	<input type="radio" name="layout" value="middle"> MiddleLayout<br>

</div>

<div class="componentsContainer">
	<div><b>Select Component to Layout above:</b></div>
	<div basic-tile></div>	
</div>