 <div class="primary-navbar nav-collapse">

	 <ul class="nav nav-tabs">
	    <li ng-repeat="tab in navbar" ng-class="{ active: activeRoute==tab.route }"><a href="#{{tab.route}}">{{tab.label}}</a></li>
	 </ul>

</div>

