html{
	width: 95%;
	height: 95%;
	border: 2px solid green;
	margin: auto;
	background-color: black;
}

body{
	width: 98%;
	height: 96%;
	border: 2px solid black;
	margin-top: 5px;
	margin-left:10px; 
	border-radius: 5px;
	overflow: none;
}

.appcontentview{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	padding-right: 5px;
	border: 0px 2px 2px 2px solid black;
	overflow: auto;	
}

.dashboard{
	padding:5px;
	width: 80%;
	height: 65%;
	float: left;
	padding: 15px;
}

.componentsContainer{
	width: 100%;
	height: 28%;
	border: 1px solid yellow;
	float: left;
	overflow-y:scroll;
	padding-left: 5px;
}
.layoutsContainer{
	padding-left: 5px;
	float: left;
	width: 20%;
	height: 65%;
	border: 1px solid green;
}

.basetile{
  /*float:left;*/
  width:100px;
  height:100px;
  border:1px solid black;
  border-radius:5px;
  box-shadow:5px 5px 3px grey;
  padding:2px;
  /*margin:5px;*/
}

.thumbnail{
  float:left;
  width:50%;
  height:35%;
  border:1px solid black;

}
.listarea{
  float:left;
  width:50%;
  height:35%;
  border:1px solid black;

}
.description{
  /*margin-top:5px;*/
  float:left;
  border:1px solid black;
  width:100%;
  height:40%;
}
.horizontalcontainer{
	width: 100%;
	overflow-x:auto;
	overflow-y: hidden;
	border: 2px solid green;  
}
.horizontallayout{
	float: left;
	padding: 5px; 
}
.horizontallayoutcomp{
	float:left;
}
.verticalcontainer{
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
	border: 2px solid green;
}
.verticallayout{
	text-align: middle;
	padding: 5px;
}
.flowcontainer{
	width: 100%;
	height: 100%;
	float: left;
}
.flowlayoutcomp{
	float: left;
}
.middlecontainer{
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
}
.middlelayoutcomp{
	float: none;
	display: inline-block;;
}


/*Elevator Styles start*/
#elContainer{
  height: 100%;
  float: left;
  text-align: center;
  width: 100%;
}

.floors{
  width:250px;
  height:300px;
  border: 2px solid black;
  margin-bottom:5px;
  float:left;
}
.floor{
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px
}
.floorBtnDiv{
  float:right;
  margin-right:40px
}


.elevator{
  float:left;
  width: 250px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888888;
  height:300px;
  margin-left:20px;  
}
.floordisplay{
  margin:auto;
  width:100px;
  height:50px;
  border:2px solid black;
  text-align:center;
}

.floorbuttons{
  margin:auto;
  width:100px;
  height:180px;
  border:2px solid black;
  text-align:center;
}
.elevator{
  
  width: 250px;
  height: 80%;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #888888;
  height:300px;  
}
.floordisplay{
  margin:auto;
  width:100px;
  height:50px;
  border:2px solid black;
  text-align:center;
  color:red;
  background-color: white;
}

.floorbuttons{
  margin:auto;
  width:100px;
  height:180px;
  border:2px solid black;
  text-align:center;
}

.highlight{
  background-color:green; 
}

.floor div:first-child{
	display: inline-block;;
	font-weight: bold;
	float:left;
	padding-left: 10px;
}

/*Elevator styles end*/
