
<div style="width:100%;height:100%;padding-left:30px;padding-top:20px;">


  <div> <label style="margin-left:60px">Floors</label> <label style="margin-left:250px">Elevator 1</label> <label style="margin-left:240px  ">Elevator 2</label></div>

  <div id="elContainer">
   <div class="floors"> 
      
        <div class="floor"> 
          <div> Floor5</div>
          <div class="floorBtnDiv">
            <button name="down" value="5"> Down</button>
          </div>
        </div>
     
        <div style="width:248px;border:1px solid black;height:1px"></div>
        <div class="floor"> 
          <div> Floor4</div>
          <div class="floorBtnDiv">
            <button name="down" value="4"> Down</button>
            <button name="up" value="4"> Up</button>
          </div>
        </div>
     
        <div style="width:248px;border:1px solid black;height:1px"></div>
        <div class="floor"> 
          <div> Floor3</div>
          <div class="floorBtnDiv">
            <button name="down" value="3"> Down</button>
            <button name="up" value="3"> Up</button>
          </div>
        </div>
      
        <div style="width:248px;border:1px solid black;height:1px"></div>
        <div class="floor"> 
          <div> Floor2</div>
          <div class="floorBtnDiv">
            <button name="down" value="2"> Down</button>
            <button name="up" value="2"> Up</button>
          </div>
        </div>
      <div style="width:248px;border:1px solid black;height:1px"></div>


        <div class="floor"> 
          <div> Floor1</div>
          <div class="floorBtnDiv">
            <button name="up" value="1"> Up</button>
          </div>
        </div>
      
  </div>
    <div id="el1" class="elevator" name="first"> 
      
      <label> Current Floor </label>
      <div class="floordisplay" name="1" style="font-weight:bold; font-size:20px"> 1</div>
      <label> Floor Buttons </label>
      <div class="floorbuttons"> 
          <button name="1" value="5">5</button><br>
          <button name="1" value="4">4</button><br>
          <button name="1" value="3">3</button><br>
          <button name="1" value="2">2</button><br>
          <button name="1" value="1">1</button><br>
      </div>
      
    </div>
      
    <div id="el2" class="elevator" name="second"> 
      
      <label> Current Floor </label>
      <div class="floordisplay" name="2" style="font-weight:bold; font-size:20px"> 1</div>
      <label> Floor Buttons </label>
      <div class="floorbuttons"> 
          <button name="2" value="5">5</button><br>
          <button name="2" value="4">4</button><br>
          <button name="2" value="3">3</button><br>
          <button name="2" value="2">2</button><br>
          <button name="2" value="1">1</button><br>
      </div>
      </div>  
    </div>


</div>