
<div>

<input type="checkbox" name="tile" value="tile">Tile</input>	
<div class="basetile"> 
    <div class="thumbnail"> </div>
    <div class="listarea"> 

    </div>
    <div class="description"></div>  
 </div>

</div>